.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 20px auto 0;
  padding: 30px;
  background-color: var(--light-blue);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

@media (min-width: 500px) {
  .container {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 620px;
    margin-top: 80px;
  }
}

.title {
  color: var(--darker-blue);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.text {
  color: var(--darker-blue);
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}