.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  min-height: 4rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

@media (min-width: 1200px) {
  .container {
    max-width: none;
    flex-direction: row;
    flex-wrap: wrap;
  }
}