.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--darker-blue);
  opacity: 0.5;
  z-index: 1;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slideImage {
  width: 100vw;
  height: 100%;
}